{% extends "base.html" %}

{% block title %}Main{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 20px;">
            <a href="{{ url_for('shortener.statistic') }}">Statistics</a>
        </div>
        <div class="row" style="margin-top: 20%">
            <form method="post" action="{{ url_for('shortener.add_url') }}" style="margin: 0 auto">
                <h4>Input URL:</h4>
                <div class="form-row">
                    <div class="col-sm-10">
                        <input class="form-control" type="text" name="origin_url" id="UrlInput">
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" class="btn btn-info">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}