{% extends 'base.html' %}

{% block title %}Statistics{% endblock title %}

{% block content %}
    <div class="container">
    <div class="row" style="margin-top: 20px;">
        <a href="{{ url_for('shortener.index') }}">Main page</a>
    </div>
    <h3 style="margin-top: 20px;">Statistics</h3>
        <table class="table table-striped">
        <thead>
        <tr>
            <th>№</th>
            <th>Original URL:</th>
            <th>Short URL</th>
            <th>Number of visits</th>
        </tr>
        </thead>
        <tbody>
        {% for url in urls %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ url.origin_url }}</td>
                <td>{{ url.short_url }}</td>
                <td>{{ url.counter }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
{% endblock content %}
